.form-control-primary {
    margin: 10px;
    opacity: 0.2;
    border-radius: 2px;
  }
/* styling search bar */
.search input[type=text]{
    width:200px;
    height:25px;
    border-radius:25px;
    border: none;

}
 
.search{
    /* padding-left: 800px; */
    float:right;
    margin:7px;

}
 
.search button{
    background-color: #17b3a3;
    color: #f2f2f2;
    float: right;
    padding: 5px 10px;
    margin-right: 16px;
    font-size: 12px;
    border: none;
    cursor: pointer;
}
  .sidebar {
    position: fixed;
    left: 0;
    bottom: 0;
    top: 0;
    z-index: 100;
    padding: 70px 0 0 10px;
    border-right: 1px solid #d3d3d3;
  }
  
  .left-sidebar {
    position: sticky;
    top:0;
    height: calc(100vh - 70px)
  }
  
  .sidebar-nav li .nav-link {
    color: #333;
    font-weight: 500;
  }
  main {
    padding-top: 90px;
  }
  main .card {
    margin-bottom: 20px;
  }
  .bg-primary {
    background-color: #17b3a3!important;
  }
  .dropbtn {
    background-color:  #17b3a3;
    color: white;
    padding: 16px;
    font-size: 10px;
    border: none;
    cursor: pointer;
  }
  
  .dropdown {
    
    bottom: 50px;
    right: 0;
    position: relative;
    display: inline-block;
  }
  
  /* Dropdown Content */
  .dropdown-content {

    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #f1f1f1}
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  /* Change the background color of the dropdown button when the dropdown content is shown */
  .dropdown:hover .dropbtn {
    background-color: #17b3a3;
  }
  .footer {
    z-index: 999;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color:#17b3a3;
    color: white;
    text-align: center;
 }