{{define "sidebar"}}
    <!-- Sidebar -->
    <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

        <!-- Sidebar - Brand -->
        <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/">
            <div class="sidebar-brand-icon">
                <img src="/static/img/lmg-logo.png" alt="" height="25px" width="25px">
            </div>
            <div class="sidebar-brand-text mx-3">LMG Reviews</div>
        </a>

        <!-- Divider -->
        <hr class="sidebar-divider my-0">

        <!-- Nav Item - Dashboard -->
        <li class="nav-item {{if stringEquals .commonData.Path "/"}}active{{end}}">
            <a class="nav-link" href="/">
                <i class="fas fa-fw fa-tachometer-alt"></i>
                <span>Dashboard</span></a>
        </li>

        <!-- Divider -->
        <hr class="sidebar-divider">

        <!-- Reviews Header -->
        <div class="sidebar-heading">
            Reviews Management
        </div>

        <!-- Nav Item - Reviews -->
        <li class="nav-item {{if stringContains .commonData.Path "reviews"}}active{{end}}">
            <a class="nav-link {{if stringContains .commonData.Path "reviews"}}active{{else}}collapsed{{end}}" href="#"
               data-toggle="collapse" data-target="#collapseReviewSection" aria-expanded="true" aria-controls="collapseReviewSection">
                <i class="fas fa-fw fa-theater-masks"></i>
                <span>Reviews</span>
            </a>
            <div id="collapseReviewSection" class="collapse {{if stringContains .commonData.Path "reviews"}}show{{end}}"
                 aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                <div class="bg-white py-2 collapse-inner rounded">
                    <a class="collapse-item {{if stringEquals .commonData.Path "/reviews"}}active{{end}}" href="/reviews">All</a>
                    <a class="collapse-item" href="#">iOS</a>
                    <a class="collapse-item" href="#">Android</a>
                </div>
            </div>
        </li>

        <!-- Nav Item - Analytics -->
        <li class="nav-item {{if stringEquals .commonData.Path "/analytics"}}active{{end}}">
            <a class="nav-link" href="/analytics">
                <i class="fas fa-fw fa-chart-area"></i>
                <span>Review Analysis</span>
            </a>
        </li>

        <!-- Divider -->
        <hr class="sidebar-divider">

        <!-- Reviews Header -->
        <div class="sidebar-heading">
            Keyword & App Management
        </div>

        <!-- Nav Item - Keywords and Keyword Groups -->
        <li class="nav-item {{if stringContains .commonData.Path "keyword"}}active{{end}}">
            <a class="nav-link {{if stringContains .commonData.Path "keyword"}}active{{else}}collapsed{{end}}" href="#"
               data-toggle="collapse" data-target="#collapseKeywordsSection" aria-expanded="true" aria-controls="collapseKeywordsSection">
                <i class="fas fa-fw fa-map-signs"></i>
                <span>Keywords</span>
            </a>
            <div id="collapseKeywordsSection" class="collapse {{if stringContains .commonData.Path "keyword"}}show{{end}}"
                 aria-labelledby="headingUtilities" data-parent="#accordionSidebar">
                <div class="bg-white py-2 collapse-inner rounded">
                    <a class="collapse-item {{if stringEquals .commonData.Path "/keywords"}}active{{end}}" href="/keywords">All Keywords</a>
                    <a class="collapse-item {{if stringEquals .commonData.Path "/keyword-groups"}}active{{end}}" href="/keyword-groups">All Keyword Groups</a>
                    <a class="collapse-item {{if stringEquals .commonData.Path "/keywords/add"}}active{{end}}" href="/keywords/add">New Keyword</a>
                    <a class="collapse-item {{if stringEquals .commonData.Path "/keyword-groups/add"}}active{{end}}" href="/keyword-groups/add">New Keyword Group</a>
                </div>
            </div>
        </li>

        <!-- Nav Item - Apps -->
        <li class="nav-item {{if stringContains .commonData.Path "apps"}}active{{end}}">
            <a class="nav-link {{if stringContains .commonData.Path "apps"}}active{{else}}collapsed{{end}}" href="#" data-toggle="collapse" data-target="#collapseAppsSection"
               aria-expanded="true" aria-controls="collapseAppsSection">
                <i class="fas fa-fw fa-mobile"></i>
                <span>Apps</span>
            </a>
            <div id="collapseAppsSection" class="collapse {{if stringContains .commonData.Path "apps"}}show{{end}}" aria-labelledby="headingApps"
                 data-parent="#accordionSidebar">
                <div class="bg-white py-2 collapse-inner rounded">
                    <a class="collapse-item {{if stringEquals .commonData.Path "/apps"}}active{{end}}" href="/apps">All Apps</a>
                    <a class="collapse-item {{if stringEquals .commonData.Path "/apps/add"}}active{{end}}" href="/apps/add">Add App</a>
                </div>
            </div>
        </li>
        {{if stringEquals .commonData.Role "admin"}}
            <!-- Divider -->
            <hr class="sidebar-divider">
            <!-- Heading -->
            <div class="sidebar-heading">
                Settings
            </div>

            <!-- Nav Item - Pages Collapse Menu -->
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsePages"
                   aria-expanded="true" aria-controls="collapsePages">
                    <i class="fas fa-fw fa-user"></i>
                    <span>User Management</span>
                </a>
                <div id="collapsePages" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <h6 class="collapse-header">Normal User:</h6>
                        <a class="collapse-item" href="#">List Users</a>
                        <a class="collapse-item" href="#">Add User</a>
                        <div class="collapse-divider"></div>
                    </div>
                </div>
            </li>
        {{end}}
        <!-- Divider -->
        <hr class="sidebar-divider d-none d-md-block">

        <!-- Sidebar Toggler (Sidebar) -->
        <div class="text-center d-none d-md-inline">
            <button class="rounded-circle border-0" id="sidebarToggle"></button>
        </div>

    </ul>
    <!-- End of Sidebar -->
{{end}}