{{template "app" .}}
{{define "title"}}List{{end}}
{{define "header_js_css"}}

{{end}}


{{define "main"}}
    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800" id="specific_page_method" data-page="analytics">Analytics</h1>
    </div>

{{end}}

{{define "footer_js_css"}}

{{end}}