{{template "app" .}}
{{define "title"}}List{{end}}
{{define "header_js_css"}}
    <!-- Custom styles for this page -->
    <link href="/static/vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">
{{end}}


{{define "main"}}
    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Applications</h1>
    </div>

    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">All Applications</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="appListDataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Concept</th>
                            <th>Google App ID</th>
                            <th>iOS App ID</th>
                            <th>Active ?</th>
                            <th width="15%">Action</th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th>Concept</th>
                            <th>Google App ID</th>
                            <th>iOS App ID</th>
                            <th>Active ?</th>
                            <th>Action</th>
                        </tr>
                    </tfoot>
                    <tbody>
                        {{range .apps}}
                            <tr>
                                <td>{{.Name}}</td>
                                <td>{{.GoogleAppId}}</td>
                                <td>{{.IosAppId}}</td>
                                <td>
                                    {{if .Active}}
                                         <label>
                                        <input id="active" name="active" type="checkbox" class="fas fa-check btn btn-success btn-circle" value = true onchange="changeValue({{.Name}},!{{.Active}})" checked style="visibility:hidden;">
                                           <span id="active-toggle" class="btn btn-success btn-circle"> <i id="active-toggle-icon" class="fas fa-check"></i></span>
                                        </input>
                                    </label>
                                    {{else}}
                                         <label>
                                     <input id="inactive" name="active" type="checkbox"  class="fas fa-check btn btn-danger btn-circle" value = "" onchange="changeValue({{.Name}},!{{.Active}})" style="visibility:hidden;" checked>
                                           <span id="inactive-toggle" class="btn btn-danger btn-circle"> <i id="inactive-toggle-icon" class="fas fa-times"></i></span>
                                        </input>
                                    </label>
                                    {{end}}
                                   
                                </td>
                                <td>
                                    <div class="dropdown mb-4">
                                        <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            Fetch Reviews
                                        </button>
                                        <div class="dropdown-menu animated--fade-in" aria-labelledby="dropdownMenuButton" style="">
                                            <a class="dropdown-item" href="javascript:void(0)" onclick="webScrapperApp.fetchReviews('{{.Name}}', 'all')">
                                                <i class="fas fa-mobile"></i>&nbsp;
                                                All Platforms
                                            </a>
                                            <a class="dropdown-item" href="javascript:void(0)" onclick="webScrapperApp.fetchReviews('{{.Name}}', 'ios')">
                                                <i class="fab fa-apple"></i>&nbsp;
                                                Only iOS
                                            </a>
                                            <a class="dropdown-item" href="javascript:void(0)" onclick="webScrapperApp.fetchReviews('{{.Name}}', 'android')">
                                                <i class="fab fa-google"></i>&nbsp;
                                                Android
                                            </a>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        {{end}}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

{{end}}

{{define "footer_js_css"}}
    <!-- Page level plugins -->
    <script src="/static/vendor/datatables/jquery.dataTables.min.js"></script>
    <script src="/static/vendor/datatables/dataTables.bootstrap4.min.js"></script>
    <script>
    function changeValue(name,status) {
    var appName=name;
    var appStatus=status;
    
        $.ajax({
                    url: "apps/status?name="+appName+"&active="+appStatus,
                    dataType: 'json',
                    method : 'POST',
                    success: function( response ) {
                       alert('Success');
                    }
                });
                
}
        
        function myFunction() {
             status = !document.getElementById("active").value
      if(status) {
         document.getElementById("active-toggle").className = "btn btn-success btn-circle"; 
         document.getElementById("active-toggle-icon").className = "fas fa-check"
         
    } else {
        document.getElementById("inactive-toggle").className = "btn btn-danger btn-circle"; 
        document.getElementById("inactive-toggle-icon").className = "fas fa-times"
    }
    }

    

    
    </script>
{{end}}