{{template "app" .}}
{{define "title"}}Add Users{{end}}
{{define "header_js_css"}}
    <!-- Custom styles for this page -->
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
{{end}}


{{define "main"}}

    <div class="container">

        <div class="card o-hidden border-0 shadow-lg my-5">
            <div class="card-body p-0">
                <!-- Nested Row within Card Body -->
                <div class="row">
                 <div class="col-lg-2"></div>
                    <div class="col-lg-8">
                        <div class="p-5">
                            <div class="text-center">
                                <h1 class="h4 text-gray-900 mb-4">Add User!</h1>
                            </div>
                            <form action="/add-user" method="POST"  class="user">
                                <div class="form-group row" novalidate>
                                    <div class="col-sm-6 mb-3 mb-sm-0">
                                        <input name="name" type="text" class="form-control form-control-user" id="userName"
                                            placeholder="Name" required>
                                    </div>
                                    <div class="col-sm-6">
                                    <input name="email" type="email" class="form-control form-control-user" id="userEmail"
                                            placeholder="Email" required>
                                    </div>
                                </div>
                                <div class="form-group row" novalidate>
                                <div class="col-sm-6">
                                    <input name="phone" type="text" class="form-control form-control-user" id="userPhone"
                                            placeholder="Phone" required>
                                    </div>
                                <div class="col-sm-6 mb-3 mb-sm-0">
                                        <label >
                                        Role :
                                        <input type="radio" id="admin" name="role" value="admin" checked>
                                        <label for="html">Admin</label>
                                        <input type="radio" id="user" name="role" value="user">
                                        <label for="html">User</label>
                                    </label>
                                    </div>
                                </div>

                                <button type="submit" class="btn btn-primary btn-user btn-block"> Submit
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
                <hr>
            </div>
            <div class="col-lg-2"></div>
        </div>

    </div>

{{end}}

{{define "footer_js_css"}}
    <!-- Page level plugins -->
{{end}}