{{template "app" .}}
{{define "title"}}Keyword Groups{{end}}
{{define "header_js_css"}}
    <!-- Custom styles for this page -->
    <link href="/static/vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">
{{end}}


{{define "main"}}
    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Keyword Groups</h1>
    </div>
    {{with .message}}
    <div class="alert alert-success">
    <strong>Success!</strong> {{.}}
  </div>
    {{end}}

    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <div>
                <h6 class="m-0 font-weight-bold text-primary float-left">All Keyword Groups</h6>
            </div>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered data-table-list" id="keywordGroupListDataTable" data-status-columns="2"
                       data-url="/ajax/keyword-groups/list" width="100%" cellspacing="0" data-entity="keyword-groups">
                    <thead>
                        <tr>
                            <th data-dt-name="group_name" data-dt-query="group_name">Name</th>
                            <th data-dt-name="keywords" data-dt-query="keywords" data-col-sortable="0">Keywords</th>
                            <th data-dt-name="active" data-dt-query="active" data-col-searchable="0">Active ?</th>
                            <th data-dt-name="subscribe_action" data-dt-query="subscribe_action" data-col-sortable="0" data-col-searchable="0">Subscribe</th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th>Name</th>
                            <th>Keywords</th>
                            <th>Active ?</th>
                            <th>Subscribe</th>
                        </tr>
                    </tfoot>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

{{end}}

{{define "footer_js_css"}}
    <!-- Page level plugins -->
    <script src="/static/vendor/datatables/jquery.dataTables.min.js"></script>
    <script src="/static/vendor/datatables/dataTables.bootstrap4.min.js"></script>
{{end}}